<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/e3eac8b4-ff17-463d-8dc9-6ee598cf855c/resourcegroups/WebApiExampleAndresMicoResourceGroup/providers/Microsoft.Web/sites/WebApiExampleAndresMico</ResourceId>
    <ResourceGroup>WebApiExampleAndresMicoResourceGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://webapiexampleandresmico.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>webapiexampleandresmico.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>WebApiExampleAndresMico</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$WebApiExampleAndresMico</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="WebApiExampleContext" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:webapiexampleandresmicodbserver.database.windows.net,1433;Initial Catalog=WebApiExampleAndresMico_db;User ID=Andres@webapiexampleandresmicodbserver;Password=Vn3njwarrodk" Name="Data Source=tcp:webapiexampleandresmicodbserver.database.windows.net,1433;Initial Catalog=WebApiExampleAndresMico_db;User Id=Andres@webapiexampleandresmicodbserver;Password=Vn3njwarrodk" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(localdb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|WebApiExampleContext-20180403182640.mdf;Initial Catalog=WebApiExampleContext-20180403182640;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\WebApiExampleContext_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(localdb)\MSSQLLocalDB; Initial Catalog=WebApiExampleContext-20180403182640; Integrated Security=True; MultipleActiveResultSets=True; AttachDbFilename=|DataDirectory|WebApiExampleContext-20180403182640.mdf" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="WebApiExampleContext-Web.config Connection String">
      <ParameterValue>data source=tcp:webapiexampleandresmicodbserver.database.windows.net,1433;initial catalog=WebApiExampleAndresMico_db;user id=Andres@webapiexampleandresmicodbserver;password=Vn3njwarrodk;MultipleActiveResultSets=True</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>